* {
  box-sizing: border-box;
}
*::selection {
  background-color: #12a3977c;
  color: #fff;
  z-index: 5;
}

body {
  background: #151515;
  color: #fff;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.error {
  font-size: 2.3rem;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-shrink: 2;
}

@media (max-width: 960px) {
  .card {
    max-width: 85vw;
  }
}
@media (max-width: 700px) {
  .card {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .user-info {
    margin-left: 0;
    padding: 2%;
  }

  .user-info ul {
    flex-wrap: wrap;
  }

  .user-form {
    max-width: 80vw;
  }
}

@media (max-width: 690px) {
  .info {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .webdesigntuts-workshop:before {
    display: none;
  }
  .card {
    padding: 1.5rem;
    font-size: 0.7rem;
    max-width: 100%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .user-info {
    padding: 0;
  }
  .user-info ul {
    margin-top: 0;
    font-size: 0.7rem;
  }
  .user-info ul li strong {
    font-size: 0.6rem;
  }
  .webdesigntuts-workshop form {
    display: flex;
    font-size: 0.5rem;
  }
}
